@page "/"

<PageTitle>Recipe Roulette</PageTitle>

<h4>Spin the wheel to discover today's exciting recipe!</h4>

@if(showWarning)
{
    <div class="alert alert-danger">
        There are no recipes that meet all the selected criteria. <br>
        Please deselect some options to continue.
    </div>
}

<div class="row">
    <div class="col-2">
        <strong>Type of Meal</strong>
        <ul>
            <li><InputCheckbox @bind-Value="type.Breakfast" @bind-Value:after="FilterRecipes" ></InputCheckbox>Breakfast</li>
            <li><InputCheckbox @bind-Value="type.Lunch" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Lunch</li>
            <li><InputCheckbox @bind-Value="type.Dinner" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Dinner</li>
            <li><InputCheckbox @bind-Value="type.Side"  @bind-Value:after="FilterRecipes" ></InputCheckbox>Side</li>
            <li><InputCheckbox @bind-Value="type.Dessert" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Dessert</li>
        </ul>
        <strong>Dietary Restrictions</strong>
        <ul>
            <li><InputCheckbox @bind-Value="diet.Vegan" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Vegan</li>
            <li><InputCheckbox @bind-Value="diet.Dairy" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Lactose Intolerant</li>
            <li><InputCheckbox @bind-Value="diet.Nuts"   @bind-Value:after="FilterRecipes" ></InputCheckbox>Nuts</li>
            <li><InputCheckbox @bind-Value="diet.Gluten"  @bind-Value:after="FilterRecipes"  ></InputCheckbox>Gluten Free</li>
        </ul>
    </div>
    <div class="col-2">
        <strong>Cuisine</strong>
        <ul>
            <li><InputCheckbox @bind-Value="cuisine.American" @bind-Value:after="FilterRecipes"  ></InputCheckbox>American</li>
            <li><InputCheckbox @bind-Value="cuisine.Asian" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Asian</li>
            <li><InputCheckbox @bind-Value="cuisine.Indian" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Indian</li>
            <li><InputCheckbox @bind-Value="cuisine.Italian" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Italian</li>
            <li><InputCheckbox @bind-Value="cuisine.Mexican" @bind-Value:after="FilterRecipes"  ></InputCheckbox>Mexican</li>
        </ul>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div id="wheel-container"><div id="pointer"></div></div>
        <div id="wheel" class="@_wheelClass" style="@_wheelStyle">
            @if(_filteredRecipes != null && _filteredRecipes.Count > 0){
            <div style="top: 5%;left: 40%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[4 % _filteredRecipes.Count].RecipeName</div>@*30-90*@
            <div style="top: 25%;left: 65%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[5 % _filteredRecipes.Count].RecipeName</div>@*90-150*@
            <div style="top: 52%;left: 60%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[0 % _filteredRecipes.Count].RecipeName</div>@*150-210*@
            <div style="top: 70%;left: 38%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[1 % _filteredRecipes.Count].RecipeName</div>@*210-270*@
            <div style="top: 52%;left: 10%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[2 % _filteredRecipes.Count].RecipeName</div>@*270-330*@
            <div style="top: 25%;left: 8%;position: absolute;font-weight:bold;width:30%">@_filteredRecipes[3 % _filteredRecipes.Count].RecipeName</div>@*330-30*@

            }
            else{
            <div class="r-1"></div>
            <div class="r-2"></div>
            <div class="r-3"></div>
            <div class="r-4"></div>
            <div class="r-5"></div>
            <div class="r-6"></div>
            }
        </div>
    </div>
    <div class="col-4">
        <button class="btn btn-danger" @onclick="@SpinWheel" disabled="@_disableButton">Spin!</button>
        <div>
            <strong>Tonight's recipe is!:</strong><br>
                @if(recipe != null){
                    <strong>
                        @recipe.RecipeName
                    </strong>
                }
        </div>
    </div>
</div>



@code{
    
}